@model CostAllocationApp.ViewModels.ForecastViewModal

@{
    ViewBag.Title = "Create Forecast";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="/Content/forecast_ver04.css" rel="stylesheet" type="text/css" />  
    <link href="/Content/namelist-responsive.css" rel="stylesheet" type="text/css" />      
}

<div class="content container-fluid" style="position:relative">
    <!-- Page Header -->
    <div class="page-header" id="data_import">
        <div class="row align-items-center">
            <div class="col">
                <h5>Forecast Creation</h5>
            </div>
        </div>
        <div class="row">
            @*<div class="col">
                <a href="/Home/Index"><i class="fa fa-upload" aria-hidden="true"></i> Upload Excel</a>
            </div>*@

            <div class="col">
                @using (Html.BeginForm("Index", "Forecasts", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
                {
                <div class="form-group mb-2">
                    <input type="file" class="form-control-file" name="uploaded_file">
                    <input type="hidden" value="@Model.Department.Id" name="department_id" />
                </div>
                    
                    <div class="form-group mx-sm-3 mb-2">
                        <select id="inputState" class="form-control" name="upload_year">
                            <option value="0">Select Year</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success mb-2" id="import_data_btn"><i class="fa fa-upload" aria-hidden="true"></i> Upload Excel</button>
                    @Html.AntiForgeryToken()


                }
                @if ((Int32)ViewBag.ErrorCount > 0)
                {
                    <div class="alert alert-danger col-4">
                        @Html.ValidationSummary()
                    </div>
                }
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success col-4">
                        @ViewBag.Success
                    </div>
                }
            </div>
        </div>        
    </div>
    
    <!-- /Page Header -->
    <div class="row">       
        <div class="col-md-12">
            <section class="container" tabIndex="1">
                <div>
                    <table id="forecast_search">
                        <thead id="forecast_search_thead">
                            <tr>
                                <th>Name</th>
                                <th>Section</th>
                                <th>Company</th>
                                <th>Department</th>
                                <th>Allocation</th>                                
                                <th>Period</th>
                            </tr>                            
                        </thead>
                        <tbody id="forecast_search_tbody">                            
                            <tr>
                                <th class="namelist_td name">氏名(Name)</th>
                                <th class="namelist_td section">
                                    <div class="form-group mb-0">
                                        <div class="col-sm-10">
                                            <select id="section_multi_search" name="multiselect[]" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </th>
                                <th class="namelist_td company">
                                    <div class="form-group mb-0">
                                        <div class="col-sm-10">
                                            <select id="company_multi_search" name="multiselect[]" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </th>
                                <th class="namelist_td department">
                                    <div class="form-group mb-0">
                                        <div class="col-sm-10">
                                            <input type="text" value="@Model.Department.DepartmentName" readonly="" id="dept_multi_search">
                                            @* <select id="dept_multi_search" name="multiselect[]" multiple="multiple"></select> *@
                                        </div>
                                    </div>
                                </th>
                                <th class="namelist_td allocation">
                                    <div class="form-group mb-0">
                                        <div class="col-sm-10">
                                            <select id="allocation_multi_search" name="multiselect[]" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </th>
                                <th class="namelist_td period">
                                    <div class="form-group mb-0">
                                        <div class="col-sm-10">
                                            <select id="period_multi_search" name="multiselect[]" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </th>
                            </tr>                            
                            <tr>
                                <td colspan="5"></td>
                                <td>
                                    <a href="javascript:void(0);" class="" id="forecast_search_button">Search</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <div class="row">
                <div class="col-md-12">
                    <div class="forecast">
                        <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                            <center>
                                <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;">
                                <br>
                                <strong>Please wait a moment...</strong>
                                <br>
                                <br>
                            </center>
                        </div>
                        <table class="" id="forecast_table">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                        <div class="add_name_tbl_2_btn">
                            <a href="javascript:void(0);" class="" id="cancel_forecast" onclick="onCancel()" style="display:none;">Cancel</a>
                            <a href="javascript:void(0);" class="" id="save_forecast" onclick="onSave(event)" style="display:none;">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hidSectionId" />
<input type="hidden" id="hidDepartmentId" />
<input type="hidden" id="hidInChargeId" />
<input type="hidden" id="hidRoleId" />
<input type="hidden" id="hidExplanationId" />
<input type="hidden" id="hidCompanyid" />

<input type="hidden" id="hid_departmentId" value="@Model.Department.Id"/>

@section Scripts{

    <script src="/Scripts/bootstrap-3.3.2.min.js"></script>
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/forecast_ver04.js"></script>
    @* <script src="/Scripts/namelist_modal_registrations.js"></script> *@
    <script src="/Scripts/bootstrap-multiselect.js"></script>


    <script>
        $(document).ready(function () {
            $("table1").DataTable();
        });
        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' id='dataFile' name='upload' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }

        function clear() {
            var input = $("#dataFile").val('');
        };
        $(function () {
            clear();
            bs_input_file();
        });
    </script>
}


